#Log{
  color: white;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Hauteur du site */
    .row.content {height: 700px;}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    nav li {
      list-style-type: none;
    }

    nav a {
      display: inline-block;
      text-decoration: none;
    }

    .submenu {
      display: none;
    }

    nav li:hover .submenu {
      display: inline-block;
      position: absolute;
      top: 100%;
      left: 0px;
      padding: 0px;
      z-index: 1000;
    }

    .submenu li {
      border-bottom: 1px solid #CCC;
    }

    .submenu li a {
      padding: 15px 30px;
      font-size: 13px;
      color: #222538;
      width: 200px; 
    }

    .menu-categorie .submenu{
      background-color: lightgrey;
    }

    .submenu li:hover a {
      color: black;
      font-weight: bold;
    }

    #searchbar{position: relative; width:500px; height:auto; padding-top: 10px;}

  .formulaire               {display:inline-block;}
  .formulaire .champ       {width:400px; height:;}
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: black;
      color: white;
      padding: 5px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    } 
    



.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}


}
.formulaire_val input {

   position:absolute;
   top:50%;
   left:50%;
   width:300px; /* A toi de donner la bonne largeur */
   height:200px; /* A toi de donner la bonne hauteur */
   margin-left:-150px; /* -largeur/2 */
   margin-top:-100px; /* -hauteur/2 */
   background:red;
}
.inputbasic {
	display:block;
	border:1px solid grey;
	border-radius:10px;
}